body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     /* Light gray background for the whole page */
  }
  
  .newscatcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .watchlist {
    width: auto; /* Content-specific width */
    max-width: 90%;
    background-color: white; /* White background only for the watchlist */
    padding: 15px;
    margin-bottom: 20px; /* Space below the watchlist */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .watchlist h4 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .watchlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .watchlist li {
    padding: 8px;
    margin: 5px 0;
    background-color: #f9f9f9; /* Slightly lighter gray for list items */
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .news-items {
    width: 100%;
    max-width: 1600px; /* Set a maximum width for news section */
    background-color: white; /* White background only for the news section */
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .news-items h4 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .news-items article {
    margin-bottom: 15px;
  }
  